html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fdf8ef; 
  
}

.flower {
    position: fixed;
    width: 28vw;        
    max-width: 20%;  
    opacity: 0.95;
    pointer-events: none;
    z-index: -1; 
}

.flower.tl { top: 0; left: 0; }
.flower.tr { top: 0; right: 0; }
.flower.bl { bottom: 0; left: 0; }
.flower.br { bottom: 0; right: 0; }

#centralizar{
    position: absolute;             
    text-align: center;
    background-color: #FAF5EC;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    padding: 25px;

   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;                   
    border-radius: 2%;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.148);
}

.conteudo {
    width: 100%;
    height: 100%;
    position: relative;   
}


#titulo{
    font-family: 'Playfair Display', serif;
    font-size: 72px;          
    font-weight: 600;
    color: #6b463c;
    line-height: 1.1;
    margin-bottom: 10px;
}

#subtitulo{
    color: #6b463c;
    font-family: 'Playfair Display', serif;
    font-size: 22px; 
    opacity: 0.9;
}

a {
    display: inline-block;
    padding: 10px 28px;
    margin: 8px;
    width: auto;

    background-color: #ffffff;
    color: #6b463c; /* marrom da imagem */

    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; /* igual estilo da imagem */

    border: none;
    border-radius: 999px;  /* CAPSULE */

    text-decoration: none;
    letter-spacing: 1px;

    /* Sombra leve e elegante */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    transition: all 0.2s ease;
}

a:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.22);
}

a:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
    a {
        display: block;
        width: 70%;
        margin: 10px auto;
        padding: 14px 0;
    }
}

.moldura{
    position: absolute; 
    width: 150px;
}
